<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://placeholder.pics/svg/200" alt="...">

    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading">{{model.title}}</h3>
		<div>{{model.author}}</div>
		<br/>
		<div><strong>Upphämtningsställe: </strong>{{pickupLocation}}</div>
		<div><strong>Typ av lån:</strong> {{typeOfLoan}}</div>
  </div>
</div>