This is the confirmation page... 


<div class="row">
	<div class="col-xs-12">
		<div class="pull-right">
			<button class="btn btn-link">Tillbaka</button>
			<button class="btn btn-default">Avbryt</button>
			<button class="btn btn-primary">Beställ</button>
		</div>
	</div>
</div>

{{outlet}}
