
<div class="row">
	<div class="col-xs-12">
	<h3>{{model.title}}</h3>
	{{model.author}}
	</div>
</div>



<div class="row">
	<div class="col-xs-12">
		<div class="pull-right">
			<button class="btn btn-link">Tillbaka</button>
			<button class="btn btn-default">Avbryt</button>
			<button class="btn btn-primary">Bekräfta beställning</button>
		</div>
	</div>
</div>

{{outlet}}
