NUXT_PUBLIC_API_BASE=https://bestall-server-lab.ub.gu.se/api/
NUXT_PUBLIC_KOHA_AUTH_URL="https://koha-lab-intra.ub.gu.se/"
NUXT_PUBLIC_ENABLED_AUTH="github,GU,credentials" 
NUXT_PUBLIC_HIDE_GU_AUTH_PARAM_NAME="view"
NUXT_PUBLIC_HIDE_GU_AUTH_PARAM_VALUE="46GUB_KOHA"
NUXT_PUBLIC_LOCALE_PARAM_NAME="language"
NUXT_PUBLIC_MYLOANS_URL="https://myloans.example.com"
NUXT_PUBLIC_DATE_FORMAT='sv-SE'
NUXT_PUBLIC_DISABLE_LOANTYPE_HOME_AND_PICKUP_FOR_ITEMTYPES="8,17"
NUXT_PUBLIC_DISABLE_LOANTYPE_HOME_AND_PICKUP_FOR_NOTFORLOAN="-3"
NUXT_PUBLIC_INCLUDE_LOANTYPE_SD_FOR_USER_CATEGORIES="SD,FT"
NUXT_PUBLIC_APPLICATION_IS_CLOSED=false
NUXT_PUBLIC_DEBUG_INFO=true
NUXT_KOHA_USER=
NUXT_KOHA_PWD=
NUXT_API_SECRET=api_secret_token
NUXT_AUTH_BASE_URL=https://auth.example.com
NUXT_GITHUB_CLIENT_ID=
NUXT_GITHUB_CLIENT_SECRET=
NUXT_XACCOUNT_MAP_TO_GITHUB="xlpero"
NUXT_GU_CLIENT_ID=
NUXT_GU_CLIENT_SECRET=
