<div class="row vertical-space-bottom-20">
  <div class="col-xs-12">
    <div class="bibliographic-title">{{order.model.biblio.title}}</div>
    <div class="field">
      {{#if order.model.biblio.isbn}}
        ISBN: {{order.model.biblio.isbn}}<br/>
      {{/if}}
    </div>
    <div class="field">
      {{#if order.model.biblio.edition}}
        {{order.model.biblio.edition}}<br/>
      {{/if}}
    </div>
    <div class="field">
      {{#if order.model.biblio.origin}}
        {{order.model.biblio.origin}}<br/>
      {{/if}}
    </div>
  </div>
</div>