<div class="row vertical-space-bottom-20">
  <div class="col-xs-12">
    <h3>{{request.model.biblio.title}}</h3>
    <div class="field">
      {{#if request.model.biblio.isbn}}
        ISBN: {{request.model.biblio.isbn}}<br/>
      {{/if}}
    </div>
    <div class="field">
      {{#if request.model.biblio.edition}}
        {{request.model.biblio.edition}}<br/>
      {{/if}}
    </div>
    <div class="field">
      {{#if request.model.biblio.origin}}
        {{request.model.biblio.origin}}<br/>
      {{/if}}
    </div>
  </div>
</div>