<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://placeholder.pics/svg/200" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading">{{request.model.title}}</h3>
    <div>{{request.model.author}}</div>
    <br/>
    <div><strong>Upphämtningsställe: </strong>{{order.location}}</div>
    <div><strong>Typ av lån:</strong> {{order.type}}</div>
  </div>
</div>
