<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://placeholder.pics/svg/200" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading">{{request.model.biblio.title}}</h3>
    <div>{{request.model.biblio.author}}</div>
    <br/>
    <div><strong>Upphämtningsställe: </strong>{{order.model.reserve.location.name}}</div>
    <div><strong>Typ av lån: </strong>{{order.model.reserve.loanType.name}}</div>
  </div>
</div>
