<div class="media confirmation">
  <div class="media-left">
    <i class="fa fa-check-circle green-icon" aria-hidden="true"></i>
  </div>
  <div class="media-body">
    <h3>Tack för din beställning</h3>
    <br/>
    <p>Du får ett meddelande när materialet finns att hämta på {{order.model.reserve.location.name}}.</p> 
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="#">Mina lån - se dina lån och beställningar</a>
  </div>
</div>
