html {
	overflow-y: scroll;
}


.form-control {
	font-size: 16px;
}

.gu-footer {
	background-color: #000;
	color: #fff;
	font-size: 12px;
	margin-top: 80px;
	padding-top: 15px;
	padding-bottom: 30px;
	a {
		color: #fff;
		text-decoration: underline;
	}
}

#spinner {
	display: none;
}
&.loading {
	#spinner {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		padding-top: 8px;
		z-index: 10;
		width: 50px;
		height: 50px;
		background: @gray-dark;
		border-radius: 4px;
		text-align: center;
		.fa {
			font-size: 30px;
			color: #fff;
		}
	}
}

.next-prev {
	margin-top: 20px;
}

.mandatory {
	font-size: 70%;
	vertical-align: super;
}

.mandatory-text {
	margin-top: 20px;
}

.vertical-space-bottom-20 {
	margin-bottom: 20px;
}
.active {
    color: black;
}

select.form-control {

	margin-bottom: 20px;

}

.form-control-feedback {
	display: none;
}

.has-feedback {
	.form-control-feedback {
		display: block;
	}
}

.order-ref-number {
	font-size: 2em;

}

.step-indicator {
	margin-top: 30px;
	margin-bottom: 20px;

	ol {
		list-style-type: decimal;
		list-style-position: inside;
		padding: 0;
		li {
			@media (min-width: @screen-sm-min) {
				float: left;
				padding: 0;
				list-style: none;
				&:after {
					content: '\f054';
					font-family: 'FontAwesome';
					margin-left: 15px;
				}
				&:last-child {
					&:after {
						content: none;
					}
				}
			}
			margin-right: 15px;
			padding: 5px 0;
			font-size: 13px;
			span {
				padding: 6px;
			}
			&.active {
				span {
					color: #fff;
					background-color: @brand-primary;
					border-radius: 4px;
				}
			}
		}
	}
	a{
		color: @gray-light;
		&.active {
			color:#025da6 !important;
		}
	}

	&.disabled {
		a {

			cursor: text;
			&:hover {
				text-decoration: none;
				color: @gray-light;
			}

			&:active {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
}
