KOHA_PASSWORD=<Koha password>
BESTALL_API_KEY=<bestall API key>
BESTALL_CACHE_API_KEY=<cache api key>
GUB_OAUTH2_CLIENT_SECRET=<client secret>
NUXT_API_SECRET=<Bestall API key>
AUTH_ORIGIN=http://localhost:6050
NUXT_API_BASE=http://backend:3000/api
NUXT_GITHUB_CLIENT_SECRET=<GitHub client secret>
NUXT_XACCOUNT_MAP_TO_GITHUB=
NUXT_GU_CLIENT_SECRET=<GU client secret>
SECRET_KEY_BASE=<secret key base>
