<div class="row">
	<div class="col-xs-12">
		<nav class="step-indicator disabled">
			<ol>
				{{#link-to 'start' disabled=true tagName='li'}}<span>Upphämtningsställe och lån</span>{{/link-to}}
				<li>Step 1</li>
				<li>Step 2</li>
			</ol>
		</nav>
	</div>
</div>