<div class="row user-error">
    <div class="col-sm-4 col-xs-12">
       
        <div class="img-wrap">
            <img src="/user-error.png" height=100 />
        </div>
    </div>
    <div class="col-sm-8 col-xs-12">
         {{{reason}}}
        <!--<h2>Du får inte beställa</h2>
        <div class="reason">
            <i class="fa fa-angle-right" aria-hidden="true"></i><span>Ditt lånekort har gått ut</span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra molestie nibh, et rutrum orci molestie vel. Integer pellentesque aliquam mauris, nec aliquet eros ultricies ac. Aliquam erat volutpat. Nulla facilisi. Morbi at tellus non enim malesuada pretium vitae non eros. Sed aliquet vel mauris sed dignissim. Quisque vel urna luctus, dictum nisi quis, mollis massa. Phasellus in mauris eget quam efficitur tempor.
        </p>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <a href="#">Se dina lån och beställningar</a>-->
    </div>
</div>
