<div class="row user-error">
    <div class="col-sm-2 col-sm-offset-2">
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
    </div>
    <div class="col-sm-6 col-xs-12">
        {{{reason}}}
    </div>
</div>
