

<h1>Beställ och köa på böcker, kursböcker, artiklar etc</h1>

If bibpost with id <i>{{bibId}}</i> is marked ok for lending I will redirect to the cas-server (<i>{{application.config.casurl}}</i>)




{{outlet}}
