<div class="row">
	<div class="col-xs-12">
		<nav class="step-indicator disabled">
			<ol>
				{{#link-to 'order.start' disabled=true tagName='li'}}<span>Upph채mtningsst채lle och l책n</span>{{/link-to}}
				{{#link-to 'order.summary' disabled=true tagName='li'}}<span>Sammanfattning</span>{{/link-to}}	
				{{#link-to 'order.confirmation' disabled=true tagName='li'}}<span>Bekr채fta</span>{{/link-to}}
			</ol>
		</nav>
	</div>
</div>