cas_url: https://caslogin.example.com
registration_url: https://registration.example.com
koha:
  base_url: http://koha.example.com
  user: username
  password: password
file_path: /path/to/files
api_key: api_key
