production:
  host: host1.example.com
  port: 22
  user: username
  path: '/path/to/application/on/server'
  nvm_path: '/path/to/nvm/bin/dir/on/server'

staging:
  host: host2.example.com
  port: 22
  user: username
  path: '/path/on/server'
  nvm_path: '/path/to/nvm/bin/dir/on/server'

lab:
  host: host3.example.com
  port: 22
  user: username
  path: '/path/on/server'
  nvm_path: '/path/to/nvm/bin/dir/on/server'
