{{#if canBeQueued}}
  <button {{action 'onOrderClick'}} class="btn btn-block btn-xs btn-primary">Köa</button>
{{else if canBeOrdered}}
  <button {{action 'onOrderClick'}} class="btn btn-block btn-xs btn-primary">Beställ</button>
{{/if}}
