<label>
  {{label}}
</label>
{{#x-select class="form-control" on-change=(action onSelect) value=selectedItem as |item|}}
  {{#each filteredLoanTypes as |type|}}
    {{#item.option value=type.id  disabled=type.disabled}}{{type.name}}
      {{#if type.disabled}}
        ({{t "components.pick-type-of-loans.not-allowed"}})
      {{/if}}
    {{/item.option}}
  {{/each}}
{{/x-select}}
