<label>
	{{label}}
</label>
{{#x-select class="form-control" on-change=(action onSelect) value=selectedItem as |item|}}
	{{#each filteredLoanTypes as |type|}}
		{{#item.option value=type.id  disabled=type.disabled}}{{type.name}}{{#if loc.disabled}} ({{t "request.order.details.notAllowed"}}){{/if}}{{/item.option}}
	{{/each}}
{{/x-select}}
