<label>
{{label}}
</label>
{{#x-select class="form-control" on-change=(action 'setValue') value=selectedItem as |item|}}
	{{#item.option}}{{label}}{{/item.option}}
	{{#each loantypes as |type|}}
  		{{#item.option value=type.id}}{{type.name}}{{/item.option}}
  	{{/each}}
{{/x-select}}


