<label>
	{{label}}
</label>
{{#x-select class="form-control" on-change=(action onSelect) value=selectedItem as |item|}}
	{{#item.option}}{{label}}{{/item.option}}
	{{#each filteredLocations as |loc|}}
		{{#item.option value=loc.id}}{{loc.name}}{{/item.option}}
	{{/each}}
{{/x-select}}