<label>
{{label}}
</label>

{{#x-select class="form-control" value=selectedLoantype as |item|}}
	{{#each loantypes as |type|}}
  		{{#item.option value=type.id}}{{type.name_sv}}{{/item.option}}
  	{{/each}}
{{/x-select}}

{{yield}}


