<ol class="steps-list">
  <li>
    <div>Exemplar</div>
  </li>
  <li class="active">
    <div>Din beställning</div>
  </li>
  <li>
    <div>Summering</div>
  </li>
  <li>
    <div>Bekräftelse</div>
  </li>
</ol>
