<ol class="steps-list">
  <li>
    <div>Exemplar</div>
  </li>
  {{#link-to 'order.details' disabled=true tagName='li'}}<div>Din beställning</div>{{/link-to}}
  {{#link-to 'order.summary' disabled=true tagName='li'}}<div>Summering</div>{{/link-to}}
  {{#link-to 'order.confirmation' disabled=true tagName='li'}}<div>Bekräftelse</div>{{/link-to}}
</ol>
