<ol class="steps-list">
  {{#link-to 'request.order.items' disabled=true tagName='li'}}
    <div>{{t 'components.progress-steps.step-items-label'}}</div>
  {{/link-to}}
  <span></span>
  {{#link-to 'request.order.details' disabled=true tagName='li'}}
    <div>{{t 'components.progress-steps.step-details-label'}}</div>
  {{/link-to}}
  <span></span>
  {{#link-to 'request.order.summary' disabled=true tagName='li'}}
    <div>{{t 'components.progress-steps.step-summary-label'}}</div>
  {{/link-to}}
  <span></span>
  {{#link-to 'request.order.confirmation' disabled=true tagName='li'}}
    <div>{{t 'components.progress-steps.step-confirmation-label'}}</div>
  {{/link-to}}
</ol>
