label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
  margin-top: var(--spacer-8);
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--dark-dark);
  border-radius: 4px;
  resize: vertical;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
