#progress {
  --progress-indicatror-height: 4px;
  --progress-indicator-bg-color: var(--brand-light);
  width: 100%;
  height: var(--progress-indicatror-height);
  background-color: var(--progress-indicator-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: 0 50%; /* scale from left and middle */
  animation: scroll-progress linear;
  animation-timeline: scroll();
}
@keyframes scroll-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
